# Construction d'un système de recommandation

Nous avons décidé d'orienter notre projet sur la recommendation de films.
En effet durant ce confinement, nous avons eu le temps de visionner beaucoup de films,
mais nous nous sommes rendus compte que nous passions quasiment autant de temps
à choisir le film qu'à le regarder. D'où la nécessité de créer un système de re-
commendations afin d'optimiser notre temps de visionnage.
Nous avons chercher une base de données assez exploitable afin de mener à bien
notre projet. Nous nous sommes basés sur la base de données de 'The Movies Dataset'.

In [137]:
import numpy as np
import pandas as pd
import math

## Fetching data

In [195]:
movies = pd.read_csv("movies_metadata.csv")
movies.head()
print(movies.shape)

(45466, 24)

In [171]:
movies = movies[~movies.id.duplicated()]

In [200]:
movies = movies.astype({'id': 'int64'})

ValueError: invalid literal for int() with base 10: '2012-09-29'

In [85]:
ratings = pd.read_csv("ratings_small.csv")
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [86]:
# ne pas rerun !
ratings = ratings.drop(columns=['timestamp'])
ratings.head()

   userId  movieId  rating
0       1       31     2.5
1       1     1029     3.0
2       1     1061     3.0
3       1     1129     2.0
4       1     1172     4.0

In [89]:
print(min(ratings.rating), max(ratings.rating))
ratings.describe()
ratings.dtypes

0.5 5.0

userId       int64
movieId      int64
rating     float64
dtype: object

In [94]:
ratings = ratings.astype({'movieId': 'str'})
ratings.dtypes

userId       int64
movieId     object
rating     float64
dtype: object

In [172]:
movies_cleaned = movies.loc[:, ['id', 'title']]
movies_cleaned = movies_cleaned.loc[movies_cleaned['id'].isin(ratings.movieId)]

In [173]:
print(movies_cleaned.shape)
movies_cleaned.head()
movies = movies_cleaned

(2830, 2)

In [174]:
movies.tail()

          id                       title
45318  80831                Sang Pemimpi
45353   3104  Frankenstein Created Woman
45403  64197        Travelling with Pets
45406  98604                  Cinderella
45450  49280            The One-Man Band

In [131]:
ratings.head()

   userId movieId  rating
0       1      31     2.5
1       1    1029     3.0
2       1    1061     3.0
3       1    1129     2.0
4       1    1172     4.0

## User Based

In [147]:
def cor(u, v):
    return np.dot(u, v) / math.sqrt(np.dot(u, u) * np.dot(v, v))

In [186]:
def mean_rat(uid):
    n = ratings.loc[ratings['userId'] == uid].count().loc['userId']
    s = ratings.loc[ratings['userId'] == uid].sum().loc['rating']
    return s / n

In [188]:
uid = 1
print(mean_rat(uid))
ratings.loc[ratings['userId'] == uid]

2.55

    userId movieId  rating
0        1      31     2.5
1        1    1029     3.0
2        1    1061     3.0
3        1    1129     2.0
4        1    1172     4.0
5        1    1263     2.0
6        1    1287     2.0
7        1    1293     2.0
8        1    1339     3.5
9        1    1343     2.0
10       1    1371     2.5
11       1    1405     1.0
12       1    1953     4.0
13       1    2105     4.0
14       1    2150     3.0
15       1    2193     2.0
16       1    2294     2.0
17       1    2455     2.5
18       1    2968     1.0
19       1    3671     3.0